variable "pm_api_url" {
  default = "https://pve.olumpos.net:8006/api2/json"
}

variable "pm_user" {
  default = "quantum@pve"
}

variable "pm_password" {
  default = "not-the-real-password"
}

# VM configuration

variable "target_node" {
  default = "pve"
}

variable "vm" {
  default = "100"
}

variable "unifi_id" {
  default = "14"
}

variable "k8_node_id" {
  default = "20"
}

variable "gateway" {
  default = "192.168.1.1"
}

variable "nameserver" {
  default = "192.168.1.12"
}

variable "searchdomain" {
  default = "ar.olumpos.net"
}

variable "template_name" {
  default = "VM 9000"
}

variable "ciuser" {
  default = "quantum"
}

variable "sshkeys" {
  default = "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDdiblr0qfvqeZw03MU1usqnrCs05z1fAsyrWqzIt9RjHn0x7Zntm5Cv8iAjjKYIyZVRnNkOsivyNT4gC3MpB1Mqrnlh1OpUxpLdopjGNGjwEds6L49ibYSyQj2OY/pwfcrwvLcA/6zIeaZFPje16wfNQp8X6Q1kej37F8O9ERSlPYmDMa7v1O2SVpewCvc9OTpnSa0/5dtWbvjoEIiWhEy8Gt8GWKyG3aogymElJiGkAmZBzHr3E7y1sg2ueOVWt7g0Zd/9t2HTxczJsmimJXrivZ1FvQhB/wV2Yt8tgcIXs/0KXGv0TgXCJDhswMaHqK0+lflpt0znAH322j0/3qNKBQH90/l7s5ADsuuubjN0e0XmpZXxfOa40gOxlrpqDG4k/gnI1FGdY3qD71waz+sZh2abg8qwGQZikNxEUaKg23p00h4qFvaTYnaS4j0cDCJXgBLv+vHiD/P7rjd4PKpc61R7GdU389EmYe3f0OJOA9dnM31zT1renWbjBTZyEE= quantum@hermes.local"
}
